<h1 class="font-bold text-xl mb-2">Lists</h1>

<%
=begin%>
 How do I want to organize this? 
<%
=end%>

<ul>
    <% @lists.each do |list| %>
        <% if list.user_id %>
            <li class="pt-1"> <%= link_to list.list_title, list_path(list) %> </li>
        <% end %>
    <% end %>
</ul>

<p class="mt-4 text-green-200"><%= link_to 'New List', new_list_path %></p>