<h1 class="font-bold text-xl">Musicals</h1>
<ul>
    <% @musicals.each do |musical|%>
    <li> <%= link_to musical.title, musical_path(musical) %> </li>

    <% end %>
</ul>

<p> <%= link_to "Add Musical", new_musical_path %> </p>