<div class="mx-4 my-2">
<h1 class="font-bold text-3xl mb-2"> <span class="text-yellow-400">Kin.</span>to the Woods </h1>
<div class="grid grid-cols-3 place-items-center mt-4 text-2xl">
<p class="bg-black border-white border-2 p-4"> <%= link_to 'Musicals', musicals_path %> </p>
<p class="bg-black border-white border-2 p-4"> <%= link_to 'Creators', creators_path %> </p>
<p class="bg-black border-white border-2 p-4"> <%= link_to 'Lists', lists_path %> </p>
</div>
</div>