<div class="mx-4 my-2">
<h1 class="font-bold text-xl mb-2"> <span class="text-yellow-400">Kin</span>to the Woods </h1>
<p> <%= link_to 'See Musicals', musicals_path %> </p>
<p> <%= link_to 'See Creators', creators_path %> </p>
<p> <%= link_to 'See Lists', lists_path %> </p>
</div>