<h2>All songs </h2>
<ul>
    <% @songs.each do |song| %>
        <li> <%= link_to song.song_title, song_path(song) %> from <%= song.musical.title %></li>
    <% end %>
</ul>
<p> <%= link_to 'Back to Musicals', musicals_path %> </p>