<p> <%= @book.id %> </p>
<% if @musical != nil %>
    <p> <%= @musical.title %> </p>
<% end %>
<% if @creator != nil %>
    <p> <%= @creator.name %> </p>
<% end %>

<p> <%= link_to 'Delete', book_path(@book.id), method: :delete %> </p>