<h1 class="font-bold text-xl mb-2">Creators</h1>
<ul>
    <% @creators.each do |creator|%>
    <li> <%= link_to creator.name, creator_path(creator) %> </li>
    <% end %>
</ul>

<p class="mt-4 text-green-200"> <%= link_to "New Creator", new_creator_path %> </p>